.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/This is Elon Musk
content/Templates
content/TCE
content/CNU
content/anotações
content/MEC
